{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="form-wrapper">
  <div class="card">
    <div class="card-header">Change Password</div>
    <div class="card-body">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <input type="password" class="form-control" name="old_psw" placeholder="Old Password" required>
        <input type="password" class="form-control" name="new_psw" placeholder="New Password" required>
        <input type="password" class="form-control" name="confirm_psw" placeholder="Confirm New Password" required>
        <button type="submit" class="btn btn-success mb-3">Update Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
