{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="form-wrapper">
  <div class="card w-50 mx-auto">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <input type="email" class="form-control mb-3" name="email" placeholder="Your registered email" required>
        <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
